<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Serve the app through the 'dist' directory
    RewriteRule ^$ dist/index.html [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ dist/$1 [L]
</IfModule>
